<?xml version="1.0" encoding="UTF-8" ?>

<configuration>


    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>>
        </layout>
    </appender>
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <Pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %blue-->
<!--                (%-50logger{50}:%-4line) %msg%n-->
<!--            </Pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!--info及以上输出，但不包括error 到文件-->
    <!--<appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>ERROR</level>-->
            <!--&lt;!&ndash;onMatch 命中 DENY 不输出 &ndash;&gt;-->
            <!--<onMatch>DENY</onMatch>-->
            <!--&lt;!&ndash;onMismatch 不命中 输出&ndash;&gt;-->
            <!--<onMismatch>ACCEPT</onMismatch>-->
        <!--</filter>-->
        <!--<encoder>-->
            <!--<pattern>-->
                <!--%msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;滚动策略&ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;路径&ndash;&gt;-->
            <!--<fileNamePattern>/var/log/tomcat/sell/info.%d.log</fileNamePattern>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!--输出error级别日志到文件-->
    <!--<appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>ERROR</level>-->
        <!--</filter>-->
        <!--<encoder>-->
            <!--<pattern>-->
                <!--%msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;滚动策略&ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;路径&ndash;&gt;-->
            <!--<fileNamePattern>/var/log/tomcat/sell/error.%d.log</fileNamePattern>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <root level="info">
        <appender-ref ref="consoleLog" />
        <!--<appender-ref ref="fileInfoLog" />-->
        <!--<appender-ref ref="fileErrorLog" />-->
    </root>

</configuration>
